@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/rubik/rubik-800.woff2);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
}


.header-content {
  margin: 0 auto;
  padding: 50px 60px 167px;
  background: #ffe17f;
}

.header-default .header-content {
  padding-bottom: 50px;
}

.logo {
  margin-top: -72px;
}

.logo-link {
  display: inline-flex;
}

.menu {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.search,
.user-menu {
  flex-grow: 1;
  flex-basis: 50%;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  list-style: none;
}

.user-menu-item-compare {
  margin-left: auto;
}

.item-exit {
  display: none;
}

.navigation {
  display: flex;
  gap: 40px;
  margin-top: 44px;
  list-style: none;
}

.navigation-button,
.navigation-list {
  flex-grow: 1;
  flex-basis: 50%;
}

.navigation-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  width: 1041px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

.navigation-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

.navigation-item-contacts {
  margin-left: auto;
}

.navigation-button-image {
  width: 50px;
}

.slider {
  display: flex;
  gap: 40px;
}

.slider-view,
.slider-description {
  flex-grow: 1;
  flex-basis: 50%;
}

.description-item {
  display: flex;
  flex-direction: column;
}

.slider-number {
  display: block;
  align-self: flex-end;
  margin-right: 30px;
  margin-top: -160px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: normal;
  color: #ffffff;
}

.slider-image {
  margin-top: -150px;
}

.slider-heading {
  margin-top: -95px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-description {
  margin-top: 19px;
  font-family: Rubik, sans-serif;
  line-height: 30px;
  color: #444444;
}

.description-list {
  list-style: none;
}

.slider-detail {
  margin-top: 30px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.product-characteristics {
  display: flex;
  gap: 20px;
  margin-top: 70px;
}

.product-characteristic {
  display: inline-block;
  line-height: 30px;
  font-size: 16px;
  color: #444444;
}

.product-characteristic-value {
  font-size: 36px;
  color: #000000;
}

.category-list {
  display: flex;
  gap: 40px;
  margin-top: 110px;
  list-style: none;
}

.category-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.category-image-wrapper.bottom {
  align-items: end;
}

.category-link {
  display: block;
  margin-top: 33px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.services {
  margin-top: 170px;
}

.tabs {
  background: #f0f0f0;
}

.tabs-content {
  display: flex;
  gap: 115px;
  padding-bottom: 150px;
}

.tabs-navigation {
  margin-top: -15px;
}

.tabs-list {
  list-style: none;
}

.tabs-list-item {
  margin-top: 45px;
}

.tabs-list-item:first-child {
  margin-top: 0;
}

.tabs-nav-link {
  display: block;
  padding: 10px 120px 10px 15px;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.tabs-nav-link.active {
  background-color: #000000;
  color: #ffe17f;
}

.tabs-body {
  margin-top: -30px;
}

.tabs-item {
  display: flex;
  gap: 60px;
}

.tabs-description {
  max-width: 500px;
}

.tabs-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.tabs-image {
  margin-top: 15px;
}

.tabs-inner {
  margin-top: 30px;
}

.exclusive-product-wrapper {
  margin-top: 90px;
}

.exclusive-product {
  background: #f0f0f0;
}

.exclusive-product-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.exclusive-product-decorate {
  display: flex;
  align-items: center;
  padding: 0 40px;
  background: #ffe17f;
}

.exclusive-product-description {
  padding: 37px 37px 43px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.exclusive-product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  background-color: rgba(220, 220, 220, 0.5);
}

.about-company {
  margin-top: 145px;
}

.about-company-content {
  display: flex;
  gap: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  color: #444444;
}

.contacts-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: Rubik, sans-serif;
}

.contacts-description p {
  margin-top: 30px;
}

.contacts-description p:first-child {
  margin-top: 0;
}

.contacts-list {
  margin-top: 25px;
  padding-top: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.contacts-list-item {
  margin-top: 25px;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contacts-link {
  margin-top: auto;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.newsletter {
  margin-top: 90px;
  background: #f0f0f0;
}

.newsletter-content {
  padding-top: 75px;
  padding-bottom: 130px;
}

.newsletter-content-description {
  display: flex;
  gap: 40px;
}

.newsletter-title,
.newsletter-content-text {
  flex-grow: 1;
  flex-basis: 50%;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter button {
  margin-top: 60px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-image {
  display: inline;
  margin-left: 135px;
}

.newsletter span {
  margin-left: 20px;
  font-family: Rubik, sans-serif;
  color: #444444;
}

.footer {
  background: #444444;
}
.footer-logo-link {
  display: inline-flex;
  margin-top: 62px;
}

.footer-address p {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-navigation-li {
  display: flex;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

.footer-navigation-adress {
  max-width: 238px;
  margin-right: 115px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-navigation-phone {
  margin-left: 115px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.footer-navigation-link {
  margin-right: 10px;
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social li {
  margin-bottom: -60px;
  margin-right: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  display: flex;
  margin-left: 500px;
}

.footer-social-link {
  margin-left: 1025px;
  margin-bottom: 60px;
}

.page-container {
  display: flex;
}

.inner-header-title {
  margin-top: 40px;
  margin-left: 60px;
  /* width: 560px; */
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  margin-top: 15px;
  margin-right: 35px;
  margin-left: 60px;
  list-style: none;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
}

.catalog {
  margin-top: 50px;
}

.catalog-content {
  display: flex;
}

.filter {
  padding-left: 60px;
  padding-right: 70px;
  width: 30%;
  background: #EBEBEB;
  background-size: 100%;
}


.filter-title {
  margin-left: -60px;
  margin-right: -70px;
  padding: 25px 70px 25px 60px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #DCDCDC;

}

.filter-characteristics {
  display: block;

  padding: 25px 32px 25px 60px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: #DCDCDC;
}


.filter-catalog-title {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.filter-catalog-list {
  border: none;
  list-style: none;
}

fieldset {
  border:0 none;
}

.control-label {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filter-button {
  display: block;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.products {
  flex-grow: 1;
  padding-left: 70px;
  padding-bottom: 70px;
}


.products-sorting {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: -70px;
  padding: 25px 0 25px 70px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #EBEBEB;
}

.button-sorting {
  margin-left: auto;
}

.products-list {
  margin-top: 70px;
  list-style: none;
}

.card-title {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.card-info {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.card-price {
  font-family: Rubik, sans-serif;
  line-height: 21px;
}

.new-product {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.load-more {
  display: block;
  width: 100%;
  margin-top: 45px;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 25px;
  background: #ebebeb;
}

.pagination-link-item {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
}

.pagination-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
