@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/rubik/rubik-800.woff2);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
}


.header-content {
  position: relative;
  margin: 0 auto;
  padding: 50px 60px 167px;
  background: #ffe17f;
}

.header-default .header-content {
  padding-bottom: 50px;
}

.logo {
  margin-top: -72px;
}

.logo-link {
  display: inline-flex;
}

.menu {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 19px;
  margin-top: 50px;
}

.search,
.user-menu {
  flex-grow: 1;
  flex-basis: 50%;
}

.search-image {
  position: relative;
  top: 3px;
  left: 7px;
  margin-right: 20px;
}

.search-field {
  border: none;
  opacity: 0.3;
  background: #ffe17f;
}

.search-field:hover {
  opacity: 0.6;
}

.search-field:focus {
  outline-style: solid;
  outline-color: transparent;
}

.search:focus-within {
  border: none;
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 5px;
  color: #000000;
  list-style: none;
}

.user-menu-link {
  margin-left: -10px;
  padding: 10px;
  color: #000;
}

.user-menu-link-basket {
  margin-left: 12px;
  padding: 10px 13px 10px 30px;
}

.user-menu-item:hover {
  opacity: 0.6;
}

.user-menu-link:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}

.user-menu-item:active {
  opacity: 0.3;
}

.user-menu-item-compare {
  margin-left: auto;
}

.user-menu-item-basket {
  position: relative;
}

.basket-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3px;
  left: 25px;
  text-align: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
}

.basket-image {
  margin-right: 10px;
}

.user-menu-link {
  text-decoration: none;
}

.user-menu-image {
  margin-right: 12px;
}

.item-exit {
  display: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.navigation {
  display: flex;
  gap: 40px;
  margin-top: 44px;
  list-style: none;
}

.navigation-button,
.navigation-list {
  flex-grow: 1;
  flex-basis: 50%;
}

.navigation-wrap {
  margin-right: 154px;
}

.navigation-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  background: #ffe17f;
  list-style: none;
  border: none;
}

 .navigation-button-link {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #000;
}

.navigation-button-link:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}

.navigation-button-icon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  opacity: 0.2;
}

.navigation-button-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

.navigation-button-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 20px;
  background-color: currentColor;
}

.submenu {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 35px;
  left: 0;
  z-index: 1;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #FFE17F;
  text-transform: none;
}

.submenu-window {
  display: flex;
  margin-left: 60px;
}

.navigation-button-link:hover + .submenu {
  display: block;
}

.submenu-list {
  margin-bottom: 35px;
  margin-right: 35px;
  list-style: none;
}

.submenu-list-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding: 20px 20px 0 0;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 1041px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  color: #000;
}

.navigation-link:hover {
  border-bottom: 2px solid #000000;
}

.navigation-link:focus {
  border: 2px solid #AF4FFF;
  border-radius: 25px;
}

.navigation-link:active {
  opacity: 0.3;
  border-bottom: 2px solid #000000;
}

.navigation-item-contacts {
  margin-left: auto;
  margin-right: -15px;
}

.slider {
  display: flex;
  gap: 40px;
}

.slider-view {
  position: relative;
}

.slider-button {
  padding: 10px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.slider-prew {
  position: absolute;
  top: 70px;
  left: 20px;
}

.slider-next {
  position: absolute;
  top: 70px;
  left: 530px;
}

.slider-button:hover {
  opacity: 0.7;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 6px;
}

.slider-view,
.slider-description {
  flex-grow: 1;
  flex-basis: 50%;
}

.slider-number {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: -160px;
  font-weight: 800;
  font-size: 180px;
  line-height: normal;
  color: #ffffff;
}

.slider-image {

  margin-top: -150px;
}

.slider-heading {
  margin-top: -95px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-description {
  position: relative;
  margin-top: 19px;
  font-family: Rubik, sans-serif;
  line-height: 30px;
  color: #444444;
}

.description-list {
  list-style: none;
}

.slider-detail {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.slider-detail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 100%;
  height: 5px;
  background-color: #FFE17F;
}

.slider-detail:hover {
  background-color: #FFE17F;
}

.slider-detail:focus::before {
  background-color: #AF4FFF;
}

.slider-detail-text:active {
 opacity: 0.3;
}

.slider-detail-text {
  position: relative;
  z-index: 1;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 170px;
  right: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.slider-pagination-button-current.active {
  background-color: #000;
}

.slider-pagination-button:hover {
  border-color: rgba(0, 0, 0, 0.6);
}
.slider-pagination-button:focus {
  border-color: #AF4FFF;
}

.slider-pagination-button:active {
  border-color: rgba(0, 0, 0, 0.3);
}


.product-characteristics {
  display: flex;
  gap: 20px;
  margin-top: 70px;
}

.product-characteristic {
  display: inline-block;
  line-height: 30px;
  font-size: 16px;
  color: #444444;
}

.product-characteristic-value {
  font-size: 36px;
  color: #000000;
}

.category-list {
  display: flex;
  gap: 40px;
  margin-top: 110px;
  list-style: none;
}

.category-image-item {
  position: relative;
}

.category-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.category-image-wrapper.bottom {
  align-items: flex-end;
}

.category-image-wrapper:hover {
  background: #FFC700;
}

.category-image-item:focus {
  outline: 5px solid #AF4FFF;
}

.category-image:active {
  opacity: 0.3;
}

.category-link {
  display: block;
  margin-top: 33px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.category-link:active {
  opacity: 0.6;
}

.category-link:focus {
  outline-style: solid;
  outline-color: transparent;
  color: #AF4FFF;
}

.category-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-image-item:focus-within .category-image-wrapper {
  box-shadow: 0 0 0 3px #AF4FFF;
}


.services {
  margin-top: 170px;
}

.tabs {
  background: #f0f0f0;
}

.tabs-content {
  display: flex;
  gap: 115px;
  position: relative;
  padding-bottom: 150px;
}

.tabs-navigation {
  margin-top: -15px;
}

.tabs-list {
  position: relative;
  list-style: none;
}

.tabs-list-item {
  position: relative;
  margin-top: 45px;
}

.tabs-list-item:first-child {
  margin-top: 0;
}

.tabs-nav-link {
  display: block;
  padding: 10px 120px 10px 15px;
  text-align: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.tabs-nav-link.active {
  background-color: #000000;
  color: #ffe17f;
}

.tabs-nav-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -85%);
  width: 159px;
  height: 5px;
  background-color: #FFE17F;
}

.active.tabs-nav-link:before {
  content: none;
}

.tabs-nav-link-text {
  position: relative;
  z-index: 1;
}

.tabs-nav-link:hover {
  color: #000000;
  background-color: #FFC700;
}

.tabs-nav-link:focus {
  color: #000000;

}

.tabs-nav-link:active {
  background-color: #000000;
  color: #ffe17f;
}

.tabs-decoration {
  position: absolute;
  top: -80px;
  left: 264px;
  width: 7px;
  height: 100%;
  background-color: #000;
}

.tabs-body {
  margin-top: -30px;
}

.tabs-item {
  display: flex;
  gap: 60px;
}

.tabs-description {
  max-width: 500px;
}

.tabs-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.tabs-image {
  margin-top: 15px;
}

.tabs-inner {
  margin-top: 30px;
}

.exclusive-product-wrapper {
  margin-top: 90px;
}

.exclusive-product {
  background: #f0f0f0;

}

.exclusive-product-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  box-sizing: border-box;
}

.exclusive-product-link:focus {
  box-shadow: 0 0 0 5px #AF4FFF;
}


.exclusive-product:hover .exclusive-product-decorate {
  background: #FFC700;
}

.exclusive-product:hover .exclusive-product-info-image {
  opacity: 1;
}

.exclusive-product:active .exclusive-product-decorate path {
  opacity: 0.3;
}

.exclusive-product:active .exclusive-product-description {
  opacity: 0.3;
}

.exclusive-product:active .exclusive-product-info path {
  opacity: 0.3;
}

.exclusive-product-decorate {
  display: flex;
  align-items: center;
  padding: 0 40px;
  background: #ffe17f;
}

.exclusive-product-description {
  padding: 37px 37px 43px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.exclusive-product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  background-color: rgba(220, 220, 220, 0.5);
}

.about-company {
  margin-top: 145px;
}

.about-company-content {
  display: flex;
  gap: 100px;
}

.contacts {
  color: #444444;
}

.contacts-title {
  margin-top: 40px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-title-decorate {
  width: 80px;
  height: 7px;
  background-color: #000;
}

.contacts-description {
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: Rubik, sans-serif;
}

.contacts-description p {
  margin-top: 30px;
}

.contacts-description p:first-child {
  margin-top: 0;
}

.contacts-list {
  margin-top: 70px;
  margin-left: 15px;
  padding-top: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.contacts-list-item {
  margin-top: 25px;
}

.contacts-list-item::marker {
  color: #ffe17f;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contacts-working-hours {
  list-style: none;
}

.contacts-phone {
  text-decoration: underline;
  color: #444444;
}

.contacts-link {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: 0;
  padding: 15px 14px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 5px;
  background-color: #FFE17F;
}

.contacts-link:hover {
  background-color: #FFE17F;
}

.contacts-link:focus::before {
  background-color: #AF4FFF;
}

.contacts-link-text:active {
 opacity: 0.3;
}

.contacts-link-text {
  position: relative;
  z-index: 1;
}

.newsletter {
  margin-top: 90px;
  background: #f0f0f0;
}

.newsletter-content {
   width: 100%;
   padding-top: 75px;
   padding-bottom: 130px;
}

.newsletter-content-description {
  display: flex;
  gap: 40px;
}

.newsletter-title,
.newsletter-content-text {
  flex-grow: 1;
  flex-basis: 50%;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter-subscription {
  margin-top: 60px;

}

.newsletter-email {
  padding: 17px 0;
  border: none;
  background-color: #f0f0f0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);;
  width: 600px;
}

  .newsletter-email:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  }

.newsletter-email:focus {
  outline: 0;
  background: #DCDCDC;
}
.newsletter-email:invalid {
  border-bottom: 3px solid #FF3D3D;
}

.newsletter-email:active {
  border-bottom: 3px solid #000;
}

.newsletter-button {
  margin: -5px;
  padding: 14px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #f0f0f0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.newsletter-button:hover {
  color: #fff;
  background-color: #000;
}

.newsletter-button:focus {
  border: 3px solid #AF4FFF;
  box-sizing: border-box;
}

.newsletter-button-text:active {
  opacity: 0.3;
}

.newsletter-image {
  display: inline;
  margin-left: 135px;
}

.newsletter-image-text {
  margin-left: 20px;
  font-family: Rubik, sans-serif;
  color: #444444;
}

.footer {
  background: #444444;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 60px 0;
  color: #fff;
}

.footer-logo {
  grid-column: 1/4;
}

.footer-logo-image {
  display: block;
}

.footer-navigation-adress {
  font-size: 16px;
  line-height: 19px;
}

.footer-navigation-link {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.footer-navigation-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-navigation-link:focus {
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-social-decorate {
  align-self: center;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-list {
  display: flex;
  justify-self: center;
  gap: 10px;
  list-style: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}



.footer-social-link:hover {
  background-color: #FFC700;
}

.footer-social-link:focus {
  outline: 5px solid #AF4FFF;
  background-color: transparent;
}

.footer-social-link:active {
  background-color: #FFC700;
}

.footer-social-link path {
  fill: #444;
}

.footer-social-link:focus path{
  fill: #fff;
}

.footer-social-link:active .footer-social-link-image {
  opacity: 0.3;
}

.footer-social-link:active path {
  fill: #444;
}

.footer-navigation-phone,
.footer-school-link {
  justify-self: end;
}

.footer-navigation-phone {
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #FFF;
}

.footer-navigation-phone:hover {
  color: #FFC700;
}

.footer-navigation-phone:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}

.footer-navigation-phone:active {
  opacity: 0.3;
}

.footer-school-link:hover .footer-school-link-image path {
  fill: #fff;
}

.footer-school-link:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-school-link:active .footer-school-link-image path {
  fill: #fff;
  fill-opacity: 0.3;
}

.page-container {
  display: flex;
}

.inner-header-title {
  margin-top: 40px;
  margin-left: 60px;
  /* width: 560px; */
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item {
  margin-top: 15px;
}

.breadcrumbs-link {
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 1;
}

.breadcrumbs-link:focus {
  outline: 5px solid #AF4FFF;
}

.breadcrumbs-link:active {
  color: #000;
  opacity: 0.3;
}

.breadcrumbs-item:first-child {
  margin-left: 60px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url(../image/breadcrumps.svg);
  margin-left: 17px;
  margin-right: 17px;
}

.catalog {
  margin-top: 50px;
}

.catalog-content {
  display: flex;

}

.filter {
  padding-left: 60px;
  padding-right: 70px;
  width: 30%;
  background: #EBEBEB;
  background-size: 100%;
}

.filter::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 500px;
  height: 100%;
  background-color: #ebebeb;
}

.filter-title {
  position: relative;
  margin-left: -60px;
  margin-right: -70px;
  padding: 25px 70px 25px 60px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #DCDCDC;
}

.filter-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 500px;
  height: 100%;
  background-color: #dcdcdc;
}

.filter-characteristics {
  display: block;

  padding: 25px 32px 25px 60px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: #DCDCDC;
}

.filter-catalog-title {
  margin-top: 50px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.filter-catalog-decoration {
  width: 200px;
  height: 2px;
  background-color:#000;
}

.filter-catalog-decoration-price {
  margin-top: 70px;
  margin-bottom: -27px;
}

.filter-catalog-decoration-color {
  margin-top: 36px;
  margin-bottom: -27px;
}

.filter-catalog-decoration-option {
  margin-top: 46px;
  margin-bottom: -27px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 15px;
  margin-bottom: 16px;
  background-color: #DCDCDC;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}


.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.range-toggle:active {
  background: #000000;
  border: 2px solid #000000;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  margin-right: 35px;
  color: #000000;
  opacity: 0.3;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;

}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-catalog-list {
  border: none;
  list-style: none;
}

fieldset {
  border:0 none;
}

.control {
  position: relative;
  display: block;
  padding-left: 30px;
}

.control-mark {
  position: absolute;
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #EBEBEB;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 3px;
}

.control:hover .control-mark {
  opacity: 0.5;
}
.control-input:focus + .control-mark{
  border-color: #AF4FFF;
}

.control-input:focus + .control-mark::after {
  color: #AF4FFF;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: -8px;
  left: 1.5px;
  content: url(../image/tick.svg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  content: "";
}

.control-label {
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.filter {
  position: relative;
}

.filter-button {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #000000;
}

.filter-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 100%;
  height: 5px;
  background-color: #FFC700;
}

.filter-button-text {
  position: relative;
  z-index: 1;
}

.filter-button:hover {
  background: #FFC700;
}

.filter-button-text:active {
  opacity: 0.3;
}

.products {
  padding-left: 70px;
  padding-bottom: 70px;
}

.products-sorting {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-left: -70px;
  padding: 25px 0 25px 70px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #EBEBEB;
}

.products-sorting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 500px;
  height: 100%;
  background-color: #ebebeb;
}

.select-control {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: none;
}

.products-list {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 45px;
  column-gap: 40px;
}

.button-sorting {
  margin-left: auto;
}

.button-sorting-up {
  border: none;
  background-color: transparent;
}

.button-sorting-down {
  border: none;
  background-color: transparent;
}

.product-card:hover .card-image-link {
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
}

.product-card:hover .card-image-link-text {
  opacity: 1;
}


.products-list {
  margin-top: 70px;
  list-style: none;
}

.card-image-wrapper {
  display: flex;
  position: relative;
}

.card-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


.card-image-wrapper:hover ~ .card-image-link {
  display: block;
}

.card-image-link-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 100%;
  height: 5px;
  z-index: -1;
  background-color: #FFC700;
}

.card-image-link-text {
  padding: 5px 10px;
  position: relative;
  opacity: 0;
  z-index: 1;
}

.card-description {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.card-title {
  max-width: 280px;
  font-size: 18px;
  line-height: 24px;
}

.card-link {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.card-info {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.card-price {
  font-family: Rubik, sans-serif;
  line-height: 21px;
}

.new-product {
  width: 60px;
  height: 60px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.load-more {
  display: block;
  width: 100%;
  margin-top: 45px;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0;
}

.load-more:hover {
  border-color: #000000;
  box-sizing: border-box;
}

.load-more:focus {
  border-color: transparent;
  outline: 5px solid #AF4FFF;
}

.load-more:active {
  border-color: rgba(0, 0, 0, 0.3);
  outline-style: solid;
  outline-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.pagination {
  display: grid;
  grid-template-columns: 1fr repeat(5,min-content) 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
  background: #ebebeb;
  list-style: none;
}

.pagination-link {
  display: inline-block;
  padding: 25px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-link:hover {
  width: min-content;
  background: #DCDCDC;
}

.pagination-link:focus {
  width: min-content;
  background: #F0F0F0;
  outline: 5px solid #AF4FFF;
  box-sizing: border-box;
}

.pagination-link:active {
  width: min-content;
  background: #DCDCDC;
  opacity: 0.3;
}

.pagination-link-item {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
  border: none;
}

.pagination-link-item:hover {
  color: #444444;
  opacity: 1;
}

.pagination-link-item:focus {
  width: min-content;
  outline: 5px solid #AF4FFF;
  box-sizing: border-box;
}

.pagination-next {
  justify-self: end;
}

.popover {
  position: absolute;
  top: 25px;
  right: -75px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  list-style: none;
  background-color: #000;
}

.popover-conten-list {
  list-style: none;
}

.popover-conten-list-item {
  display: flex;
  gap: 20px;
}

.button-delete {
  border: none;
  fill: #fff;
}
